/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}
